header{
    background-color:#20232a;
    color:#fff;
    height: 40px;
    display: flex;
    padding: 0 20px;
    position:sticky;
    -webkit-sticky:0;
    top:0;
}
header span{
    display: none;
}
a{  
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: content;
    font-weight: 300;
}
.logo{
    margin: 0 10px 0 0;
   flex-basis: calc( 100% / 6 );
}
img{
    width: 20px;
    height: fit-content;
    margin: auto 0;
}
nav{
    width: fit-content;
    overflow-y: hidden;
    mask-image: linear-gradient(to  right, transparent, black 20px, black 90%, transparent);
    scrollbar-color: transparent  transparent;
}
ul{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch;
}

li{
    padding: 0 10px;
    list-style: none;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    padding:0;
    margin: 0;
}
input{
   
    height: 30px;
    width: 20px;
    margin: 5px 0;
    background-color:  #373940;
    border: none;
    border-radius: .25rem;
    background-color: transparent;
    padding: 0 0 0 20px;
}
input:focus{
    height: 30px;
    width: calc(8rem + 20px);
    padding: 0 10px;
    background-color:  #373940;
    transition: width .2s ease-in;

}
input::placeholder{
    font-size: 1rem;
    color:#8f9194 ;
}
.lupa{
    direction: rtl;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/lupa.png');
    background-position: center;
    background-size: cover;
}
.version,
.languages{
    display: none;
}
.version span,
.languages{
    font-size: 14px;
        color: #fff;
        font-weight: 400;
}

/***********provisorio************/
strong{
    padding: 0 10px;
}
/***********provisorio************/
@media(min-width:600px){
    header{
        height: 50px;
        font-size:17px;
    }
    nav{
        padding-left: 15px;
    }
    header span,
    p{
        font-size: 16px;
        font-weight:700;
        display: inline;
        margin-left:10px;
        color: #61dafb;
    }
   
}
@media(min-width:780px){
    header{
        padding: 0 calc(5% + 20px);
    }
    .version{
        display: flex;
    }
    .languages{
        display: inline;
    }
}
@media(min-width:980px){
    ul li{
        padding:0 15px;
    }
}
@media(min-width:1280px){
    header{
        height: 60px;
    }
    ul a{
        padding: 0 20px;
    }
}